[Unit]
Description=Sync-Arch dotfiles synchronization on shutdown
Before=shutdown.target sleep.target suspend.target hibernate.target hybrid-sleep.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=%h/proyectos/sync-arch/scripts/sync.sh shutdown --no-dry-run
TimeoutSec=60
Environment=HOME=%h
Environment=USER=%i

[Install]
WantedBy=halt.target reboot.target shutdown.target sleep.target suspend.target hibernate.target hybrid-sleep.target
